.signup-container {

        
        display: flex;
        justify-content: space-evenly;
        
        align-items: center;
        height : 100%;
        width: 100%;
        /* background-color: #f3f2ef; */
        background-color: white;
 
}

 #gifimg {
        height: 80%;
        /* clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); */

 }



 
 @media screen and (max-width: 900px) {
        #gifimg {
          display: none;
        }
      }
 .signup-form {
        height: 60%;
        width: 100%;
        background-color: white;
        border-radius: 9px;
        padding: 30px;
 }

 #or  {
        display: flex;
        justify-content:space-around;
        align-items: center;
 }

 #or p {
        color: grey;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
 }
 #or div {
        width: 40%;
        border: 1px solid rgba(128, 128, 128, 0.295) ;;
 }
 #login-g-f {
        display : flex;
        justify-content: space-between;
        width: 105%;
 }